
body{
    background-image: url(./images/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    width:1000px;
    height:1000px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container .left-side{
  position: relative;
  background-color:rgb(91, 16, 16);
  padding: 40px;  
}
.profileText {
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-left: -15px;
 padding-bottom: 20px;
 border-bottom: 1px solid black
}
.profileText .imgBx{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 15%;
    overflow:hidden;
}

.profileText .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width: 250px;
    height: 250px;
    object-fit:cover;
}
.profileText h2{
    color: white;
    font-size: 25px;
    text-align: center;
}
.profileText h2 span{
    font-size: 20px;
    font-weight: 300;
}

.contactInfo{
     padding-top: 40px;
}

.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;   
}

.contactInfo ul{
    position: relative;
    margin-left: -40px;  
}
.contactInfo ul li{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li span{
    color: beige;
    font-weight: 300;
}

.contactInfo.education li{
    margin-bottom: 15px;
}

.contactInfo.education h5{
    color:beige;
    font-weight: 600;
    margin-bottom: 5px;
}

.contactInfo.education h4{
    color: beige;
    font-weight: 300;
    margin: 0px;
}

.contactInfo.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: black;
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background: darkmagenta;
}


.container .right-side{
    position: relative;
    background-color: white;
    padding: 100px;
  }

.about{
    margin-top: -30px;
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 50px;
}

.title2 h2{
     margin-top: 100px;
}

p {
    color: #333;
}

.about .box{
    display: flex;
    flex-direction: row;
}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: lightslategrey;
    font-weight: 600;
}

.about .box .year_company h4 {
    text-transform: uppercase;
    color:black;
    font-size:16px;
}

.about .box .text{
    margin-right: -25px;
} 